#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    macros {
        toen: lang {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(NUMBER_1)) &to 0>;
            label = "LANG";
        };

        toru: toru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(N2)) &to 1>;
            label = "TORU";
        };
    };

    behaviors {
        shsch: shsch {
            compatible = "zmk,behavior-tap-dance";
            label = "SHSCH";
            #binding-cells = <0>;
            bindings = <&kp RU_CYRILLIC_SHA>, <&kp RU_CYRILLIC_SHCHA>;
        };

        sshs: sshs {
            compatible = "zmk,behavior-tap-dance";
            label = "SSHS";
            #binding-cells = <0>;
            bindings = <&kp RU_CYRILLIC_SOFT_SIGN>, <&kp RU_CYRILLIC_HARD_SIGN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        en {
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E  &kp R  &kp T                          &kp Y      &kp U     &kp I  &kp O  &kp P  &kp BACKSPACE
&kp LSHFT  &kp A  &kp S  &kp D  &kp F  &kp G                          &kp H      &kp J     &kp K  &kp L  &none  &kp ENTER
&kp LCTRL  &kp Z  &kp X  &kp C  &kp V  &kp B      &toru    &kp COMMA  &kp N      &kp M     &none  &none  &none  &kp DOT
                                &to 3  &kp SPACE  &mo 2    &mo 2      &kp SPACE  &kp RALT
            >;

            display-name = "English";
            sensor-bindings =
                <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>,
                <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
        };

        ru {
            bindings = <
&kp TAB    &kp RU_CYRILLIC_SHORT_I  &kp RU_CYRILLIC_TSE   &kp RU_CYRILLIC_U   &kp RU_CYRILLIC_KA  &kp RU_CYRILLIC_IE                      &kp RU_CYRILLIC_EN  &kp RU_CYRILLIC_GHE  &shsch              &kp RU_CYRILLIC_ZE  &kp RU_CYRILLIC_HA   &kp BACKSPACE
&kp LSHFT  &kp RU_CYRILLIC_EF       &kp RU_CYRILLIC_YERU  &kp RU_CYRILLIC_VE  &kp RU_CYRILLIC_A   &kp RU_CYRILLIC_PE                      &kp RU_CYRILLIC_ER  &kp RU_CYRILLIC_O    &kp RU_CYRILLIC_EL  &kp RU_CYRILLIC_DE  &kp RU_CYRILLIC_ZHE  &kp ENTER
&kp LCTRL  &kp RU_CYRILLIC_YA       &kp RU_CYRILLIC_CHE   &kp RU_CYRILLIC_ES  &kp RU_CYRILLIC_EM  &kp RU_CYRILLIC_I   &toen    &kp COMMA  &kp RU_CYRILLIC_TE  &sshs                &kp RU_CYRILLIC_BE  &kp RU_CYRILLIC_YU  &kp RU_CYRILLIC_E    &kp DOT
                                                                              &to 3               &kp SPACE           &mo 2    &mo 2      &kp SPACE           &kp RALT
            >;

            display-name = "Russian";
            sensor-bindings =
                <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>,
                <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
        };

        dig {
            bindings = <
&kp TAB    &kp SLASH  &kp N7  &kp N8  &kp NUMBER_9  &kp N0                                &kp LBKT          &kp RBKT        &kp UP          &kp LBRC         &kp RBRC     &kp BACKSPACE
&kp LSHFT  &kp COMMA  &kp N4  &kp N5  &kp N6        &kp EQUAL                             &kp SINGLE_QUOTE  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp SEMI     &kp ENTER
&kp LCTRL  &kp DOT    &kp N1  &kp N2  &kp N3        &kp MINUS  &kp STAR    &kp RU_NUMERO  &kp GRAVE         &kp BACKSLASH   &kp PIPE        &kp SLASH        &kp PERCENT  &kp DEL
                                      &kp LEFT_GUI  &kp SPACE  &none       &kp LG(L)      &kp SPACE         &kp RALT
            >;

            display-name = "10110";
            sensor-bindings =
                <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>,
                <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
        };

        fun {
            bindings = <
&kp TAB    &kp F1  &kp F2   &kp F3   &kp F4   &none                          &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&kp LSHFT  &kp F5  &kp F6   &kp F7   &kp F8   &none                          &out OUT_BLE  &kp C_VOL_DN  &kp C_MUTE        &kp C_VOL_UP  &trans        &studio_unlock
&kp LCTRL  &kp F9  &kp F10  &kp F11  &kp F12  &none      &toen       &toru   &out OUT_USB  &kp C_PREV    &kp C_PLAY_PAUSE  &kp C_NEXT    &trans        &trans
                                     &to 4    &kp LCTRL  &kp LALT    &trans  &to 4         &trans
            >;

            display-name = "Lineage 2";
            sensor-bindings =
                <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>,
                <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
        };

        gm {
            bindings = <
&kp ESC  &kp TAB    &kp Q  &kp W  &kp E     &kp R                        &trans  &trans  &trans  &trans  &trans  &trans
&kp N1   &kp LSHFT  &kp A  &kp S  &kp D     &kp F                        &trans  &trans  &trans  &trans  &trans  &trans
&kp N2   &kp LCTRL  &kp Z  &kp X  &kp C     &kp V      &toen     &toru   &trans  &trans  &trans  &trans  &trans  &trans
                                  &kp LALT  &kp SPACE  &kp N3    &trans  &trans  &trans
            >;

            sensor-bindings =
                <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>,
                <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;

            label = "Game";
        };
    };
};
